html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  font-family: "Lucida Grande", "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style: none;
  text-decoration: none; }

.fei_top {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0; }

.cc {
  position: fixed;
  top: 0;
  z-index: 999;
  background: #fff;
  width: 100%; }

.fei_top_div1 {
  position: relative;
  width: 700px;
  margin: 0 auto; }

.fei_top_div2 {
  text-align: center;
  width: 105px;
  height: 48px;
  margin: 0 auto; }
  .fei_top_div2 a {
    background-color: transparent;
    text-decoration: none; }
    .fei_top_div2 a img {
      border: 0;
      vertical-align: top; }

.fei_top_a {
  position: absolute;
  top: 6px;
  width: 90px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  color: #404146;
  background: transparent;
  text-align: center;
  right: 0;
  border: 1px solid #404146;
  border-radius: 4px; }

.fei_txt {
  width: 700px;
  margin: 0 auto;
  margin-top: 85px; }
  .fei_txt .fei_txt_tmpl1 {
    border: 0;
    vertical-align: top; }
    .fei_txt .fei_txt_tmpl1 img {
      margin-top: 10px;
      width: 100%; }
    .fei_txt .fei_txt_tmpl1 h1 {
      font-size: 32px;
      color: #404146;
      margin: 25px 0 0 0; }
    .fei_txt .fei_txt_tmpl1 h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.8;
      color: #000000;
      margin-top: 32px; }
    .fei_txt .fei_txt_tmpl1 h3 {
      font-size: 18px;
      font-weight: 800;
      line-height: 1.8;
      color: #000000;
      margin-top: 32px; }
    .fei_txt .fei_txt_tmpl1 h4 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.8;
      color: #5c5c5c;
      padding: 10px 8px;
      margin: 20px 0 0 0;
      background-color: #F2F2F2; }
    .fei_txt .fei_txt_tmpl1 h6 {
      display: block;
      text-align: center;
      font-size: 12px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.5);
      line-height: 1.5;
      margin: 4px auto; }
    .fei_txt .fei_txt_tmpl1 p {
      font-size: 18px;
      color: #404146;
      line-height: 32px;
      text-align: justify;
      margin-top: 20px; }
    .fei_txt .fei_txt_tmpl1 blockquote section {
      font-size: 16px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.9); }
    .fei_txt .fei_txt_tmpl1 footer {
      padding: 20px 0; }
      .fei_txt .fei_txt_tmpl1 footer p {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px; }
  .fei_txt .fei_txt_tx {
    display: flex;
    padding: 21px 0; }
    .fei_txt .fei_txt_tx img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      flex: 0 0 40px;
      margin-top: 10px; }
    .fei_txt .fei_txt_tx span {
      padding: 0 0 0 11px;
      font-size: 15px;
      color: #404146;
      line-height: 20px;
      align-self: center;
      display: inline-block; }

.fei_txt_ewm {
  border: 1px solid #E3DEDE;
  border-radius: 4px;
  padding: 8px 21px;
  width: 130px;
  margin: 40px auto 35px auto; }
  .fei_txt_ewm img {
    width: 130px;
    height: 130px; }
  .fei_txt_ewm figcaption {
    color: #404146;
    text-align: center;
    font-size: 12px; }

.fei_buttom_1 {
  background: #FAFAFA;
  padding: 32px 0; }

.fei_buttom {
  max-width: 1164px;
  margin: 0 auto; }
  .fei_buttom .fei_buttom_div1 {
    text-align: center;
    line-height: 28px; }
    .fei_buttom .fei_buttom_div1 a {
      font-size: 14px;
      color: #404146;
      margin-right: 20px; }
  .fei_buttom .fei_buttom_div2 {
    text-align: center;
    line-height: 28px; }
    .fei_buttom .fei_buttom_div2 .fei_buttom_div2_d1 {
      text-align: center;
      line-height: 28px; }
      .fei_buttom .fei_buttom_div2 .fei_buttom_div2_d1 .fei_buttom_div2_d2_click a {
        margin-right: 20px;
        font-size: 14px;
        color: #8B8687; }
    .fei_buttom .fei_buttom_div2 .fei_buttom_div2_d2 {
      text-align: center;
      line-height: 28px;
      font-size: 14px;
      color: #8B8687; }

/*# sourceMappingURL=feidi--1.css.map */
